@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: tan;
    font-family: sans-serif;
}


/* ヘッダーのカーテンについて */

.header-image {
    position: relative;
    top: 0;
    width: 100%;
}

.header-image:before {
    content: "";
    display: block;
    padding-top: 100%;
}


/* グリッドレイアウトについて */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-feature-settings: "palt";
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-color: black;
    text-align: center;
}

article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

section {
    margin: 20px 20px 0 20px;
}

section:last-of-type {
    margin-bottom: 20px
}

section h1 {
    font-size: 14px;
    padding-top: 5px;
}

figure {
    border-radius: 10px;
    background-color: tan;
    line-height: 0;
}

figure img:hover {
    opacity: .7;
}


/* モーダルについて */

.modal-inner {
    position: relative;
}

.modalArea {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
}

.modalBg {
    width: 100%;
    height: 100%;
    background: rgba(30, 30, 30, 0.9);
}

.modalContents {
    width: 100%;
    height: 100%;
}


/* ⬇モーダルの画像はここで大きさを変更する */

.modalImage {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}

.modalWrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 700px;
    height: 60%;
    padding: 10px 30px;
    background: #fff;
}

.closeModal {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    font-size: 30px;
}

.is-open {
    display: block;
    animation: fadeDownAnime 0.5s ease;
}

@keyframes fadeDownAnime {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* トップに戻るボタンの処理 */

#js-pagetop span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
}


/* 480px以下に適用されるCSS（スマホ用） */

@media screen and (max-width: 480px) {
    figure img {
        border-radius: 10px;
        width: 100%;
        height: 250px;
    }
    #js-pagetop {
        position: fixed;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: #f99900;
        color: #fff;
        bottom: 30px;
        right: 30px;
        cursor: pointer;
    }
    .title {
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 7vw;
        margin-bottom: 50px;
        font-family: 'M PLUS Rounded 1c', sans-serif;
    }
    .modalImage {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
}


/* タブレット（小）サイズ */

@media screen and (min-width:481px) {
    figure img {
        border-radius: 10px;
        width: 100%;
        height: 350px;
    }
    .title {
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 5vw;
        margin-bottom: 50px;
        font-family: 'M PLUS Rounded 1c', sans-serif;
    }
}


/* タブレット（大）サイズ */

@media screen and (min-width:700px) {
    figure img {
        border-radius: 10px;
        width: 100%;
        height: 450px;
    }
    .title {
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 5vw;
        margin-bottom: 50px;
        font-family: 'M PLUS Rounded 1c', sans-serif;
    }
}


/*スマホサイズ*/

@media screen and (max-width: 480px) {
    figure img {
        border-radius: 10px;
        width: 100%;
        height: 250px;
    }
    #js-pagetop {
        position: fixed;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: #f99900;
        color: #fff;
        bottom: 30px;
        right: 30px;
        cursor: pointer;
    }
    .title {
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 7vw;
        margin-bottom: 50px;
        font-family: 'M PLUS Rounded 1c', sans-serif;
    }
    .modalImage {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (min-width:650px) {
    .modalImage {
        width: 100%;
        padding-left: 25%;
        padding-right: 25%;
    }
}


/*PCサイズ*/

@media screen and (min-width:990px) {
    article {
        max-width: 1200px;
        margin: 0 auto;
        /* ⬇ここでグリッドレイアウトのスタイルを調整する */
        height: 2700px;
    }
    section {
        width: 21.5%;
    }
    figure img {
        border-radius: 10px;
        width: 130%;
        height: auto;
    }
    .smartphone {
        display: none;
    }
    /* トップに戻るボタンの処理 */
    #js-pagetop {
        position: fixed;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: #f99900;
        color: #fff;
        bottom: 50px;
        right: 50px;
        cursor: pointer;
    }
    .title {
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 2.5vw;
        margin-bottom: 50px;
        font-family: 'M PLUS Rounded 1c', sans-serif;
    }
}